{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container mt-5">
    <h2 class="mb-4">Formulario de Carga de Archivos</h2>

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_horarios_file">Archivo de Horarios (xlsx)</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <label class="custom-file-label" for="inputGroupFile01" id="horarios_file_label" onclick="document.getElementById('horarios_file_input').click();">Choose file</label>
                    {{ form.horarios_file }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="id_marcas_file">Archivo de Marcas de Dedo (xlsx)</label>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <label class="custom-file-label" for="inputGroupFile02" id="marcas_file_label" onclick="document.getElementById('marcas_file_input').click();">Choose file</label>
                    {{ form.marcas_file }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <h1 id="responseMessage"></h1>
    </form>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">¡Éxito!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="successMessage">
                <!-- Mensaje de éxito será insertado aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de error -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">¡Error!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorMessage">
                <!-- Mensaje de error será insertado aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="overlay" class="overlay" style="display: none;">
    <div class="overlay-content">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div id="overlayMessage" class="overlay-message">
            <!-- Mensaje de la respuesta será insertado aquí -->
        </div>
    </div>
</div>

<script>
    // Función para mostrar el overlay
    function mostrarOverlay() {
        document.getElementById('overlay').style.display = 'flex'; // Usar flex para centrar el contenido
    }

    // Función para ocultar el overlay
    function ocultarOverlay() {
        document.getElementById('overlay').style.display = 'none';
    }

    $(document).ready(function() {
        // Manejadores para mostrar el nombre del archivo seleccionado
        $('#horarios_file_input').on('change', function() {
            var filename = this.value.split('\\').pop();
            $('#horarios_file_label').text(filename);
        });

        $('#marcas_file_input').on('change', function() {
            var filename = this.value.split('\\').pop();
            $('#marcas_file_label').text(filename);
        });

        // Evento de envío del formulario con AJAX
        $('#uploadForm').on('submit', function(event) {
            event.preventDefault();
            mostrarOverlay(); // Mostrar el overlay al enviar el formulario
            $('#overlayMessage').text(''); // Limpiar el mensaje del overlay

            var formData = new FormData(this);

            $.ajax({
                url: '{% url "upload_files" %}',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.LOADING) { // Mientras se está cargando
                            console.log('XHR response received:', xhr.responseText);
                            // Dividir la respuesta en líneas y tomar la última
                            var lines = xhr.responseText.trim().split('\n');
                            $('#overlayMessage').text(lines[lines.length - 1]);
                        }
                    };

                    xhr.onload = function() {
                        ocultarOverlay(); // Ocultar el overlay
                        console.log('XHR status:', xhr.status);
                        console.log('XHR response text:', xhr.responseText);
                        var lines = xhr.responseText.trim().split('\n');
                        var lastLine = lines[lines.length - 1];
                        $('#overlayMessage').text(lastLine);

                        if (xhr.status >= 200 && xhr.status < 300) {
                            if (lastLine.includes('All tasks completed successfully')) {
                                $('#successModal').modal('show'); // Mostrar el modal de éxito
                            } else {
                                $('#errorModal').modal('show'); // Mostrar el modal de error
                            }
                        } else {
                            $('#errorModal').modal('show'); // Mostrar el modal de error si la respuesta es un error
                        }
                    };

                    xhr.onerror = function() {
                        ocultarOverlay(); // Ocultar el overlay en caso de error
                        $('#responseMessage').text('An error occurred.');
                        $('#errorModal').modal('show'); // Mostrar el modal de error
                    };

                    return xhr;
                },
                success: function(response) {
                    console.log('AJAX success response:', response);
                },
                error: function(xhr, status, error) {
                    ocultarOverlay(); // Ocultar el overlay en caso de error
                    console.log('AJAX error status:', status);
                    console.log('AJAX error response:', xhr.responseText);
                    $('#responseMessage').text('An error occurred: ' + error);
                    $('#errorModal').modal('show'); // Mostrar el modal de error
                }
            });
        });
    });
</script>
{% endblock %}
