<div class="col-xl-4 col-lg-7">
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
      <div class="d-flex align-items-center">
        <button class="btn btn-transparent btn-circle mr-2" id="prevChart">
          <i class="bi bi-chevron-compact-left"></i>
        </button>
        <span class="mx-2" id="selectedChart">2024</span>
        <button class="btn btn-transparent btn-circle ml-2" id="nextChart">
          <i class="bi bi-chevron-compact-right"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="myPieChart"></canvas>
      </div>
      <div class="mt-4 text-center small">
        <span class="mr-2">
          <i class="fas fa-circle text-primary"></i> Direct
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-success"></i> Social
        </span>
        <span class="mr-2">
          <i class="fas fa-circle text-info"></i> Referral
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-circle {
    border-radius: 30%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease-in-out;
  }

  .btn-circle:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
</style>
